<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Integrante</title>
    <link rel="stylesheet" href="/paginas/style.css">
    <link rel="stylesheet" href="/paginas/formStyle.css">
</head>
<body>
<div class="form-container">
    <h1>Crear Integrante</h1>
<form action="/admin/integrantes/create" method="POST">
    <!-- Campo Nombre -->
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" value="{{#if formData}}{{formData.nombre}}{{else}}{{/if}}">

    <!-- Campo Apellido -->
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" id="apellido" value="{{#if formData}}{{formData.apellido}}{{else}}{{/if}}">

    <!-- Campo Matrícula -->
    <label for="matricula">Matrícula</label>
    <input type="text" name="matricula" id="matricula" value="{{#if formData}}{{formData.matricula}}{{else}}{{/if}}">

    <!-- Campo Descripción -->
    <label for="descripcion">Descripción</label>
    <textarea name="descripcion" id="descripcion" cols="30" rows="4">{{#if formData}}{{formData.descripcion}}{{else}}{{/if}}</textarea>

    <!-- Campo Orden -->
    <label for="orden">Orden</label>
    <input type="number" name="orden" id="orden" value="{{#if formData}}{{formData.orden}}{{else}}{{/if}}">

    <div class="button-group">
        <button type="submit" style="background-color: green;">Crear</button>
        <button type="button" style="background-color: red;" onclick="window.location.href='/admin/integrantes/listar'">Volver</button>
    </div>
</form>
{{#if error}}
        <p style="color: red;">{{error}}</p>
{{/if}}
</div>
</body>
</html>
