<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Integrante</title>
    <link rel="stylesheet" href="/paginas/style.css">
    <link rel="stylesheet" href="/paginas/formStyle.css">
</head>
<body>
<div class="form-container">
    <h1>Editar Integrante</h1>
    <form action="/admin/integrantes/update/{{integrante.matricula}}" method="POST">
        <!-- Campo Nombre -->
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="{{integrante.nombre}}">

        <!-- Campo Apellido -->
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" value="{{integrante.apellido}}">

        <!-- Campo Matrícula -->
        <label for="matricula">Matrícula</label>
        <input type="text" name="matricula" id="matricula" value="{{integrante.matricula}}" readonly>

        <!-- Campo Descripción -->
        <label for="descripcion">Descripción</label>
        <textarea name="descripcion" id="descripcion" cols="30" rows="4">{{integrante.descripcion}}</textarea>

        <!-- Campo Orden -->
        <label for="orden">Orden</label>
        <input type="number" name="orden" id="orden" value="{{integrante.orden}}" readonly>

        <div class="button-group">
            <button type="submit" style="background-color: green;">Editar</button>
            <button type="button" style="background-color: red;" onclick="window.location.href='/admin/integrantes/listar'">Volver</button>
        </div>
    </form>
</div>
</body>
</html>
