<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Integrantes</title>
    <link rel="stylesheet" href="/paginas/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <header class="panel-inicio">
        <h1>Integrantes</h1>
    </header>
    <div class="actions">
        <a href="/admin" class="btn" style="background-color: red;">Volver</a>
        <a href="/admin/integrantes/crear" class="btn" style="background-color: green;">Crear</a>
    </div>
    {{#if successMessage}}
        <div style="margin: 20px; color: green;">
            {{successMessage}}
        </div>
    {{/if}}

    {{#if errorMessage}}
        <div style="margin: 20px; color: red;">
            {{errorMessage}}
        </div>
    {{/if}}

    <table class="styled-table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Matrícula</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Orden</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {{#each integrantes}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{matricula}}</td>
                <td>{{descripcion}}</td>
                {{#if activo}}
                    <td>Activo</td>
                {{else}}
                    <td>Inactivo</td>
                {{/if}}
                <td>{{orden}}</td>
                <td>
                    <a href="/admin/integrantes/editar/{{matricula}}" title="Editar"><i class="fas fa-edit"></i></a>
                    <form id="deleteForm_{{matricula}}" action="/admin/integrantes/delete/{{matricula}}" method="post" title="Eliminar" style="display:none;">
                        <input type="hidden" name="_method" value="POST">
                        <input type="submit" value="Confirmar Eliminación">
                    </form>
                    <button onclick="confirmDelete('{{matricula}}')" title="Eliminar"><i class="fas fa-trash-alt"></i> Eliminar</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <script>
        function confirmDelete(matricula) {
            if (!window.confirm('¿Estás seguro de que quieres eliminar este integrante?')) {
                return false;
            }

            document.getElementById(`deleteForm_${matricula}`).style.display = 'block';

            setTimeout(function() {
                document.getElementById(`deleteForm_${matricula}`).submit();
            }, 1000);
        }
    </script>
</div>
</body>
</html>
