<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>crear media</title>
    <link rel="stylesheet" href="/paginas/style.css">
    <link rel="stylesheet" href="/paginas/formStyle.css">
</head>
<body>
    <div class="form-container">
        <h1>Crear Media</h1>
        <form action="/admin/media/create" method="POST" enctype="multipart/form-data">
            <label for="integrante">Integrante</label>
            <select name="integrante" id="integrante">
                {{#each integrantes}}
                    <option value="{{matricula}}">{{nombre}} {{apellido}} - {{matricula}}</option>
                {{/each}}
            </select>

            <label for="tipo_media">Tipo Media</label>
            <select name="tipo_media" id="tipo_media">
                {{#each tipoMedia}}
                    <option value="{{id}}">{{nombre}}</option>
                {{/each}}
            </select>
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" id="titulo" value="{{#if formData}}{{formData.titulo}}{{else}}{{/if}}">

            <label for="descripcion">Descripcion</label>
            <input type="text" name="descripcion" id="descripcion" value="{{#if formData}}{{formData.descripcion}}{{else}}{{/if}}">

            <label for="orden">Orden</label>
            <input type="number" name="orden" id="orden" value="{{#if formData}}{{formData.orden}}{{else}}{{/if}}">

            <div class="radio-label">
                <input type="radio" name="tipo" id="imagen" value="imagen" checked onchange="toggleInputs(this.value)">
                <label for="imagen">Imagen</label>
            </div>

            <div class="radio-label">
                <input type="radio" name="tipo" id="url" value="url" onchange="toggleInputs(this.value) ">
                <label for="url">URL</label>
            </div>

            <!-- En caso de imagen -->
            <div id="inputs-imagen" style="display:block;">
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" id="imagen" value="{{#if formData}}{{formData.imagen}}{{else}}{{/if}}">
            </div>

            <!-- En caso de URL -->
            <div id="inputs-url" style="display:none;">
                <label for="url">URL</label>
                <input type="text" name="url" id="url" value="{{#if formData}}{{formData.url}}{{else}}{{/if}}">
            </div>

            <div class="button-group">
                <button type="submit" style="background-color: green;">Crear</button>
                <button type="button" style="background-color: red;" onclick="window.location.href='/admin/media/listar'">Volver</button>
            </div>
        </form>
        {{#if error}}
            <p style="color: red;">{{error}}</p>
        {{/if}}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Activar la opción de imagen por defecto
            document.querySelector('#imagen').checked = true;

            // Mostrar el input de la imagen por defecto
            document.getElementById('inputs-imagen').style.display = 'block';
        });

        function toggleInputs(value) {
            // Oculta todos los grupos de inputs
            document.getElementById('inputs-imagen').style.display = 'none';
            document.getElementById('inputs-url').style.display = 'none';

            // Muestra el grupo de inputs correspondiente al valor seleccionado
            if (value === 'imagen') {
                document.getElementById('inputs-imagen').style.display = 'block';
            } else if (value === 'url') {
                document.getElementById('inputs-url').style.display = 'block';
            }
        }
    </script>



</body>
</html>
