<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>crear media</title>
    <link rel="stylesheet" href="/paginas/style.css">
    <link rel="stylesheet" href="/paginas/formStyle.css">
</head>
<body>
<div class="form-container">
    <h1>Editar Media</h1>
    <form action="/admin/media/update/{{media.id}}" method="POST">
        <label for="integrante">Integrante</label>
        <input type="text" name="integrante" id="integrante" value="{{media.nombreIntegrante}}" readonly>

        <label for="tipo_media">Tipo Media</label>
        <input type="text" name="tipo_media" id="tipo_media" value="{{media.nombreTipoMedia}}" readonly>

        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" id="titulo" value="{{media.titulo}}">

        <label for="descripcion">Descripcion</label>
        <input type="text" name="descripcion" id="descripcion" value="{{media.alt}}">

        <label for="orden">Orden</label>
        <input type="number" name="orden" id="orden" value="{{media.orden}}" readonly>

        <div class="button-group">
            <button type="submit" style="background-color: green;">Editar</button>
            <button type="button" style="background-color: red;" onclick="window.location.href='/admin/media/listar'">Volver</button>
        </div>
    </form>
</div>

</body>
</html>
