<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Media</title>
    <link rel="stylesheet" href="/paginas/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        iframe {
            width: 30% !important;
            height: 30% !important;
        }
        img {
            width: 30%;
            height: 30%;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="panel-inicio">
        <h1>Integrantes</h1>
    </header>
    <div class="actions">
        <a href="/admin" class="btn" style="background-color: red;">Volver</a>
        <a href="/admin/media/crear" class="btn" style="background-color: green;">Crear</a>
    </div>
    {{#if successMessage}}
        <div class="alert alert-success">
            {{successMessage}}
        </div>
    {{/if}}

    {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
    {{/if}}
    <table class="styled-table">
        <thead>
        <tr>
            <th>Media</th>
            <th>Activo</th>
            <th>Nombre</th>
            <th>Matrícula</th>
            <th>Tipo Media</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {{#each media}}
            <tr>
                <td style="width: 50%;">
                    {{#if url}}
                        <iframe src="{{url}}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    {{else}}
                        <img src="{{src}}" alt="{{alt}}">
                    {{/if}}
                </td>
                <td>{{#if activo}}
                    Activo
                {{else}}
                    Inactivo
                {{/if}}
                </td>
                <td>{{nombreIntegrante}}</td>
                <td>{{matricula}}</td>
                <td>{{nombreTipoMedia}}</td>
                <td>
                    <a href="/admin/media/editar/{{id}}" title="Editar"><i class="fas fa-edit"></i></a>
                    <form id="deleteForm_{{id}}" action="/admin/media/delete/{{id}}" method="post" title="Eliminar" style="display:none;">
                        <input type="hidden" name="_method" value="POST">
                        <input type="submit" value="Confirmar Eliminación">
                    </form>
                    <button onclick="confirmDelete('{{id}}')" title="Eliminar"><i class="fas fa-trash-alt"></i> Eliminar</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<script>
    function confirmDelete(id) {
        if (!window.confirm('¿Estás seguro de que quieres eliminar este medio?')) {
            return false;
        }
        document.getElementById(`deleteForm_${id}`).style.display = 'block';

        setTimeout(function() {
            document.getElementById(`deleteForm_${id}`).submit();
        }, 1000);
    }
</script>

</body>
</html>
