<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Tipo Media</title>
    <link rel="stylesheet" href="/paginas/style.css">
    <link rel="stylesheet" href="/paginas/formStyle.css">
</head>
<body>
<div class="form-container">
    <h1>Crear Tipo Media</h1>
    <form action="/admin/tipo_media/create" method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="{{#if formData}}{{formData.nombre}}{{else}}{{/if}}">

        <label for="orden">Orden</label>
        <input type="number" name="orden" id="orden" value="{{#if formData}}{{formData.orden}}{{else}}{{/if}}">

        <div class="button-group">
            <button type="submit" style="background-color: green;">Crear</button>
            <button type="button" style="background-color: red;" onclick="window.location.href='/admin/tipo_media/listar'">Volver</button>
        </div>
    </form>
    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}
</div>
</body>
</html>