<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tipo Media</title>
    <link rel="stylesheet" href="/paginas/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="container">
    <header class="panel-inicio">
        <h1>Tipo Media</h1>
    </header>
    <div class="actions">
        <a href="/admin" class="btn" style="background-color: red;">Volver</a>
        <a href="/admin/tipo_media/crear" class="btn" style="background-color: green;">Crear</a>
    </div>

    {{#if successMessage}}
        <div class="alert alert-success">
            {{successMessage}}
        </div>
    {{/if}}

    {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
    {{/if}}

    <table class="styled-table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Orden</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {{#each tipoMedia}}
            <tr>
                <td>{{nombre}}</td>
                {{#if activo}}
                    <td>Activo</td>
                {{else}}
                    <td>Inactivo</td>
                {{/if}}
                <td>{{orden}}</td>
                <td>
                    <a href="/admin/tipo_media/editar/{{id}}" title="Editar"><i class="fas fa-edit"></i></a>
                    <form id="deleteForm_{{id}}" action="/admin/tipo_media/delete/{{id}}" method="post" title="Eliminar" style="display:none;">
                        <input type="hidden" name="_method" value="POST">
                        <input type="submit" value="Confirmar Eliminación">
                    </form>
                    <button onclick="confirmDelete('{{id}}')" title="Eliminar"><i class="fas fa-trash-alt"></i> Eliminar</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <script>
        function confirmDelete(id) {
            if (!window.confirm('¿Estás seguro de que quieres eliminar este tipo de medio?')) {
                return false;
            }

            document.getElementById(`deleteForm_${id}`).style.display = 'block';

            setTimeout(function() {
                document.getElementById(`deleteForm_${id}`).submit();
            }, 1000);
        }
    </script>
</div>
</body>
</html>
